
body {
    color:#4B92D1;
    font-family:sans-serif;
    background-color: rgb(219, 216, 216);
}

input.hiperButton {
background: #ea1c1c;
color: inherit;
border: none;
padding: 20px 10px;
font: inherit;
cursor: pointer;
outline: inherit;
color: white;
display: inline-block;
width: 100%;
}

.headerText{

font-size:10pt;
color:#666;
line-height:1.2;
text-align: center;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0px 5vw;
}

.info div{
width:25vw;
}

a{
color:#99f;
}

.button{
    background: #3437ff;
    color: inherit;
    border: none;
    padding: 20px 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: white;
    display: inline-block;
    width: 100%;
}

textarea{
height:100px;
width:400px; 
margin:10px;
}

.status{
text-align:center;
min-height:12px;
}

/* Grid */

.rowSegment{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr;
    padding:20px 20px;
}

.rowSegment .button{
    grid-row: 1;
    grid-column: 1/3;
}

.activeBits{
    grid-row: 1;
    grid-column: 1/3;
}

.activeBits{
    grid-row: 2;
    margin: 10px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.textareaBlock{
    grid-column: 2;
}